.mensaje-correcto{
    color: green;
    size: 30px;
    
}

.mensaje-error{
     color: red;
    size: 30px;
   

}

#caja{
    background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  

  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;  
}

